{% block body %}
<div class="bg-success p-5 my-2 rounded">
    <div class="d-flex flex-column justify-content-center text-white">
        <h2 class="text-center">{{ app.user.nom|capitalize }} - {{ app.user.prenom|capitalize }}</h2>
        <h3>Vous faites parti du secteur {{ app.user.secteur|capitalize }}</h3>
    </div>
</div>
{% endblock %}
